USE [master]
GO
/****** Object:  Database [C:\USERS\ABOUMSO\DOCUMENTS\COURS PROG DE GESTION\420-329-SF PROG III\TP\TP 2\TP2\APP_DATA\GESTIONSTAGES.MDF]    Script Date: 2014-06-30 14:07:39 ******/
CREATE DATABASE [C:\USERS\ABOUMSO\DOCUMENTS\COURS PROG DE GESTION\420-329-SF PROG III\TP\TP 2\TP2\APP_DATA\GESTIONSTAGES.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionStages', FILENAME = N'C:\BDGestionStageTP2\GestionStages.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GestionStages_log', FILENAME = N'C:\BDGestionStageTP2\GestionStages_log.ldf' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\ABOUMSO\DOCUMENTS\COURS PROG DE GESTION\420-329-SF PROG III\TP\TP 2\TP2\APP_DATA\GESTIONSTAGES.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\ABOUMSO\DOCUMENTS\COURS PROG DE GESTION\420-329-SF PROG III\TP\TP 2\TP2\APP_DATA\GESTIONSTAGES.MDF]
GO
/****** Object:  Table [dbo].[Administrateur]    Script Date: 2014-06-30 14:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrateur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomUtilisateur] [varchar](max) NOT NULL,
	[MotDePasse] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Administrateur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 2014-06-30 14:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [varchar](max) NOT NULL,
	[Début] [datetime] NOT NULL,
	[Fin] [datetime] NOT NULL,
	[Commentaire] [varchar](max) NULL,
	[SupersiveurId] [int] NOT NULL,
	[StagiaireId] [int] NOT NULL,
 CONSTRAINT [PK_Stage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stagiaire]    Script Date: 2014-06-30 14:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stagiaire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](max) NOT NULL,
	[Téléphone] [varchar](max) NOT NULL,
	[Courriel] [varchar](max) NOT NULL,
	[NomUtilisateur] [varchar](max) NOT NULL,
	[MotDePasse] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Stagiaire] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Superviseur]    Script Date: 2014-06-30 14:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Superviseur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](max) NOT NULL,
	[Téléphone] [varchar](max) NOT NULL,
	[Courriel] [varchar](max) NOT NULL,
	[NomUtilisateur] [varchar](max) NOT NULL,
	[MotDePasse] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Superviseur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Stage]  WITH CHECK ADD  CONSTRAINT [FK_Stagiaire] FOREIGN KEY([StagiaireId])
REFERENCES [dbo].[Stagiaire] ([Id])
GO
ALTER TABLE [dbo].[Stage] CHECK CONSTRAINT [FK_Stagiaire]
GO
ALTER TABLE [dbo].[Stage]  WITH CHECK ADD  CONSTRAINT [FK_Superviseur] FOREIGN KEY([SupersiveurId])
REFERENCES [dbo].[Superviseur] ([Id])
GO
ALTER TABLE [dbo].[Stage] CHECK CONSTRAINT [FK_Superviseur]
GO
USE [master]
GO
